@model QuizApp.Models.RegistrationViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = User.Identity.IsAuthenticated ? "_LayoutLoggedInPage" : "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div id="login-overlay"></div>

    <form method="post" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.Message != null)
        {
            <div class="form-group" style="color: green">@ViewBag.Message</div>
        }

        <div class="container" id="login-main-form">
            <div class="card shadow-2-strong" id="login-form">
                <div class="card-body p-5 text-center">

                    <!-- Close Button (X) -->
                    <button id="close-login-form" class="btn-close" aria-label="Close"
                            style="position: absolute; top: 10px; right: 10px;"></button>

                    <h3 class="mb-5">ავტორიზაცია</h3>

                    <!-- Username Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Name" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Username" />
                            <div><i id="login-icons" class="fas fa-user"></i></div>
                        </div>
                    </div>






                    <!-- Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control form-control-lg" id="typePasswordX-2" placeholder="Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Remember Me Checkbox -->
                    <!-- Login Button -->
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" id="submit-login" type="submit">
                        შესვლა
                    </button>

                    <!-- Registration Link -->
                    <div id="login-href">
                        არ ხარ რეგისტრირებული? <a href="#">რეგისტრაცია</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Registration Form -->
    <!-- Registration Form -->
    <form method="post" asp-action="Registration">
        <div asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.Message != null)
        {
            <div class="form-group" style="color: green">@ViewBag.Message</div>
        }

        <div class="container" id="register-main-form">
            <div class="card shadow-2-strong" id="login-form">
                <div class="card-body p-5 text-center">

                    <!-- Close Button (X) -->
                    <button id="close-register-form" class="btn-close" aria-label="Close"
                            style="position: absolute; top: 10px; right: 10px;"></button>

                    <h3 class="mb-5">რეგისტრაცია</h3>






                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Name" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Username" />
                            <div><i id="login-icons" class="fas fa-user"></i></div>
                        </div>
                    </div>

                    <!-- Email Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Email" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Email" />
                            <i id="login-icons" class="fas fa-envelope"></i>
                        </div>
                    </div>

                    <!-- Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Repeat Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Repeat Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Remove the terms checkbox -->
                    <div class="form-check d-flex justify-content-start mb-4">
                        <input asp-for="AgreeTerms" class="form-check-input" type="checkbox" value="" id="form1Example3" />
                        <label class="form-check-label" for="form1Example3"> ვეთანხმები წესებს</label>
                    </div>

                    <!-- Registration Button -->
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" id="register-login" type="submit">
                        რეგისტრაცია
                    </button>

                    <!-- Login Link -->
                    <div id="login-href">
                        გაქვს ანგარიში? <a href="#">ავტორიზაცია</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="full-test">
        <!-- Question 1 -->
        <div id="test-test131">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>1</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/1.jpg"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test132')">
                    <h6 class="QuizAnswerText">ასტეკა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test132')">
                    <h6 class="QuizAnswerText">კამპ ნოუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2 , 'test-test132')">
                    <h6 class="QuizAnswerText">სანტიაგო ბერნაბეუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test132')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
            </div>
        </div>

        <!-- Question 2 -->
        <div id="test-test132" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>2</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/2.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test133')">
                    <h6 class="QuizAnswerText">სან სირო</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test133')">
                    <h6 class="QuizAnswerText">სტად დე ფრანსი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test133')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test133')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
            </div>
        </div>

        <!-- Question 3 -->
        <div id="test-test133" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>3</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/3.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test134')">
                    <h6 class="QuizAnswerText">ჰამბურგის სტადიონი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test134')">
                    <h6 class="QuizAnswerText">მარაკანა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test134')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test134')">
                    <h6 class="QuizAnswerText">ბარსელონას ოლიმპიური სტადიონი</h6>
                </div>
            </div>
        </div>

        <!-- Question 4 -->
        <div id="test-test134" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>4</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/4.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test135')">
                    <h6 class="QuizAnswerText">სტად დე ფრანსი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test135')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test135')">
                    <h6 class="QuizAnswerText">ალიანც არენა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test135')">
                    <h6 class="QuizAnswerText">ლონდონის სტადიონი</h6>
                </div>
            </div>
        </div>


        <!-- Question 5 -->
        <div id="test-test135" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>5</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/5.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test136')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test136')">
                    <h6 class="QuizAnswerText">ალიანც არენა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test136')">
                    <h6 class="QuizAnswerText">კამპ ნოუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test136')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
            </div>
        </div>

        <!-- Question 6 -->
        <div id="test-test136" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>6</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/6.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test137')">
                    <h6 class="QuizAnswerText">სანტიაგო ბერნაბეუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test137')">
                    <h6 class="QuizAnswerText">მარაკანა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test137')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test137')">
                    <h6 class="QuizAnswerText">სან სირო</h6>
                </div>
            </div>
        </div>

        <!-- Question 7 -->
        <div id="test-test137" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>7</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/7.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test138')">
                    <h6 class="QuizAnswerText">კამპ ნოუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test138')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test138')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test138')">
                    <h6 class="QuizAnswerText">ბარსელონას ოლიმპიური სტადიონი</h6>
                </div>
            </div>
        </div>

        <!-- Question 8 -->
        <div id="test-test138" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>8</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/8.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test139')">
                    <h6 class="QuizAnswerText">რედ ბული არენა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test139')">
                    <h6 class="QuizAnswerText">კამპ ნოუ</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test139')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test139')">
                    <h6 class="QuizAnswerText">ბარსელონას ოლიმპიური სტადიონი</h6>
                </div>
            </div>
        </div>

        <!-- Question 9 -->
        <div id="test-test139" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>9</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/9.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test140')">
                    <h6 class="QuizAnswerText">გუდისონ პარკი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test140')">
                    <h6 class="QuizAnswerText">სან სირო</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test140')">
                    <h6 class="QuizAnswerText">ბარსელონას ოლიმპიური სტადიონი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test140')">
                    <h6 class="QuizAnswerText">უემბლი</h6>
                </div>
            </div>
        </div>

        <!-- Question 10 -->
        <div id="test-test140" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი სტადიონი</div>
                <div id="count-count"><strong>10</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/stadium/10.jfif"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-result')">
                    <h6 class="QuizAnswerText">სან სირო</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-result')">
                    <h6 class="QuizAnswerText">მარაკანა</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-result')">
                    <h6 class="QuizAnswerText">სტად დე ფრანსი</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-result')">
                    <h6 class="QuizAnswerText">კამპ ნოუ</h6>
                </div>
            </div>
        </div>

        <div id="test-result" style="display: none;">
        </div>
    </div>
</body>

</html>