@model QuizApp.Models.RegistrationViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = User.Identity.IsAuthenticated ? "_LayoutLoggedInPage" : "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div id="login-overlay"></div>

    <form method="post" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.Message != null)
        {
            <div class="form-group" style="color: green">@ViewBag.Message</div>
        }

        <div class="container" id="login-main-form">
            <div class="card shadow-2-strong" id="login-form">
                <div class="card-body p-5 text-center">

                    <!-- Close Button (X) -->
                    <button id="close-login-form" class="btn-close" aria-label="Close"
                            style="position: absolute; top: 10px; right: 10px;"></button>

                    <h3 class="mb-5">ავტორიზაცია</h3>

                    <!-- Username Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Name" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Username" />
                            <div><i id="login-icons" class="fas fa-user"></i></div>
                        </div>
                    </div>






                    <!-- Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control form-control-lg" id="typePasswordX-2" placeholder="Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Remember Me Checkbox -->
                    <!-- Login Button -->
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" id="submit-login" type="submit">
                        შესვლა
                    </button>

                    <!-- Registration Link -->
                    <div id="login-href">
                        არ ხარ რეგისტრირებული? <a href="#">რეგისტრაცია</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Registration Form -->
    <!-- Registration Form -->
    <form method="post" asp-action="Registration">
        <div asp-validation-summary="ModelOnly"></div>
        @if (ViewBag.Message != null)
        {
            <div class="form-group" style="color: green">@ViewBag.Message</div>
        }

        <div class="container" id="register-main-form">
            <div class="card shadow-2-strong" id="login-form">
                <div class="card-body p-5 text-center">

                    <!-- Close Button (X) -->
                    <button id="close-register-form" class="btn-close" aria-label="Close"
                            style="position: absolute; top: 10px; right: 10px;"></button>

                    <h3 class="mb-5">რეგისტრაცია</h3>






                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Name" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Username" />
                            <div><i id="login-icons" class="fas fa-user"></i></div>
                        </div>
                    </div>

                    <!-- Email Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Email" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Email" />
                            <i id="login-icons" class="fas fa-envelope"></i>
                        </div>
                    </div>

                    <!-- Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Repeat Password Input with Icon -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <div class="input-group">
                            <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" id="typeEmailX-2" placeholder="Repeat Password" />
                            <span><i id="login-icons" class="fas fa-lock"></i></span>
                        </div>
                    </div>

                    <!-- Remove the terms checkbox -->
                    <div class="form-check d-flex justify-content-start mb-4">
                        <input asp-for="AgreeTerms" class="form-check-input" type="checkbox" value="" id="form1Example3" />
                        <label class="form-check-label" for="form1Example3"> ვეთანხმები წესებს</label>
                    </div>

                    <!-- Registration Button -->
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" id="register-login" type="submit">
                        რეგისტრაცია
                    </button>

                    <!-- Login Link -->
                    <div id="login-href">
                        გაქვს ანგარიში? <a href="#">ავტორიზაცია</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="full-test">
        <!-- Question 1 -->
        <div id="test-test1">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>1</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/11111111.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test2')">
                    <h6 class="QuizAnswerText">Porsche</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test2')">
                    <h6 class="QuizAnswerText">BMW</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2 , 'test-test2')">
                    <h6 class="QuizAnswerText">Mercedes</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test2')">
                    <h6 class="QuizAnswerText">Cadilac</h6>
                </div>
            </div>
        </div>

        <!-- Question 2 -->
        <div id="test-test2" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>2</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/15.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test3')">
                    <h6 class="QuizAnswerText">Cadilac</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test3')">
                    <h6 class="QuizAnswerText">Tesla</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test3')">
                    <h6 class="QuizAnswerText">Ferrari</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test3')">
                    <h6 class="QuizAnswerText">Mazda</h6>
                </div>
            </div>
        </div>

        <!-- Question 3 -->
        <div id="test-test3" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>3</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/88.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test4')">
                    <h6 class="QuizAnswerText">BMW</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test4')">
                    <h6 class="QuizAnswerText">Tesla</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test4')">
                    <h6 class="QuizAnswerText">Corvette</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test4')">
                    <h6 class="QuizAnswerText">Lamborgini</h6>
                </div>
            </div>
        </div>

        <!-- Question 4 -->
        <div id="test-test4" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>4</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/99.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test5')">
                    <h6 class="QuizAnswerText">Nissan</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test5')">
                    <h6 class="QuizAnswerText">Mitsubishi</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test5')">
                    <h6 class="QuizAnswerText">Toyota</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test5')">
                    <h6 class="QuizAnswerText">Subaru</h6>
                </div>
            </div>
        </div>


        <!-- Question 5 -->
        <div id="test-test5" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>5</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/10.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test6')">
                    <h6 class="QuizAnswerText">Porsche</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test6')">
                    <h6 class="QuizAnswerText">Ferrari</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test6')">
                    <h6 class="QuizAnswerText">Honda</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test6')">
                    <h6 class="QuizAnswerText">Corvette</h6>
                </div>
            </div>
        </div>

        <!-- Question 6 -->
        <div id="test-test6" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>6</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/66.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test7')">
                    <h6 class="QuizAnswerText">Tesla</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test7')">
                    <h6 class="QuizAnswerText">BMW</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test7')">
                    <h6 class="QuizAnswerText">Dodge</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test7')">
                    <h6 class="QuizAnswerText">Mitsubishi</h6>
                </div>
            </div>
        </div>

        <!-- Question 7 -->
        <div id="test-test7" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>7</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/17.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test8')">
                    <h6 class="QuizAnswerText">Audi</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test8')">
                    <h6 class="QuizAnswerText">Ford</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test8')">
                    <h6 class="QuizAnswerText">Cadilac</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test8')">
                    <h6 class="QuizAnswerText">Porsche</h6>
                </div>
            </div>
        </div>

        <!-- Question 8 -->
        <div id="test-test8" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>8</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/19.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test9')">
                    <h6 class="QuizAnswerText">Toyota</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test9')">
                    <h6 class="QuizAnswerText">Nissan</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test9')">
                    <h6 class="QuizAnswerText">BMW</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test9')">
                    <h6 class="QuizAnswerText">Mercedes</h6>
                </div>
            </div>
        </div>

        <!-- Question 9 -->
        <div id="test-test9" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>9</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/9.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-test10')">
                    <h6 class="QuizAnswerText">Mercedes</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-test10')">
                    <h6 class="QuizAnswerText">Audi</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-test10')">
                    <h6 class="QuizAnswerText">Ford</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-test10')">
                    <h6 class="QuizAnswerText">Mazda</h6>
                </div>
            </div>
        </div>

        <!-- Question 10 -->
        <div id="test-test10" style="display: none;">
            <h2 class="container" id="tests-header">
                <div>გამოიცანი ავტომობილის ბრენდი</div>
                <div id="count-count"><strong>10</strong> / 10</div>
            </h2>
            <div class="QuizMainImg"><img class="container" src="../images/Cars Logo/33.png"></div>
            <div class="container" id="tests">
                <div class="option" onclick="checkAnswer(this, 0, 'test-result')">
                    <h6 class="QuizAnswerText">Cadilac</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 1 , 'test-result')">
                    <h6 class="QuizAnswerText">Porsche</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 2, 'test-result')">
                    <h6 class="QuizAnswerText">Audi</h6>
                </div>
                <div class="option" onclick="checkAnswer(this, 3 , 'test-result')">
                    <h6 class="QuizAnswerText">BMW</h6>
                </div>
            </div>
        </div>

        <div id="test-result" style="display: none;">
        </div>
    </div>

</body>

</html>
